

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-smoothing: antialiased;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 5px;
}

h1 {
	font-size: 2em;
	margin-bottom: 5px;
	color: #348D9D;
}

h2 {
	font-size: 1.7em;
	color: #e86925;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 0px;
}

h3 {
	font-size: 1.3em;
	color: #348D9D;
}

ul {
	margin: 0px;
	text-align: center;
}

ul li {
	list-style: none;
	display: inline-block;
}

a:hover {
	text-decoration: none;
}

.container {
	padding: 0 !important;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#main-header {
	position: fixed;
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: inherit;
	background-color: #fff;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.top-nav-container {
	height: 65px;
	border-bottom: 1px solid #eeeeee;
}

.top-nav-container > a {
	width: 20%;
}

.top-nav-container #logo {
	max-height: 40px;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 8px;
}

#top-navigation {
}

.collapse.in {
	transition: all 0.35s ease;
}

.btn.btn-navbar {
	float: right;
	font-size: 2em;
	background: none;
	border: none;
	margin-top: 10px;
	margin-right: 10px;
	color: #e86925;
}

.btn.btn-navbar:hover {
	opacity: 0.7;
	color: #e86925;
	background-color: transparent;
	background-position: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.btn.btn-navbar:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.btn.btn-navbar:active {
	color: #e86925;
	background-color: transparent;
}

#top-menu-bar {
	width: 66%;
	float: right;
	font-size: 13px;
}

#top-menu {

}

#top-menu li {
	display: inline-block;
	list-style: none;
	padding: 20px 20px 15px 20px;
	text-transform: uppercase;
}

#top-menu li a {
	color: #e86925;
	padding-bottom: 28px;
}

#top-menu li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #e86925;
}

a.anchor{display: block; position: relative; top: -75px; visibility: hidden;}

#main-container {
	background-color: #fff;
	padding-top: 70px;
	z-index: 1;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#banner {
	position: relative;
	height: 370px
}

.top-layer {
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#banner-content {
	float: left;
}


.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#banner-image{
	background-image: url('../img/banner_nus.jpg');
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.info-section {
	padding: 25px 0 35px;
}

.info-section:nth-child(even) {  
  background-color: #e6e6e6;
}
.info-section:nth-child(odd) {  
  background-color: #f7f7f7;
}

#intro h1 {
	font-size: 2em;
	margin-bottom: 25px;
	color: #348D9D;
}

#intro p {
	font-size: 1.2em;
	text-align: justify;
}

#foreword {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* COUNTER */
#counter {

}

.counter-box {
	text-align: center;
	height: 100%
}

.counter-number {
	font-weight: 500;
	font-size: 72px;
	line-height: 72px;
	color: #e86925;
}

/* ABOUT */
#about {

}

.summary-list ul li {
	text-align: left;
	display: list-item;
	list-style: disc;
	margin-left: 5%;
	margin-bottom: 10px;
}

.summary-list p {
	text-align: center;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-embed {
	text-align: center;
}

.summary-list, .video-embed {
	padding: 0px 0px 2em 0px;
}

.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* FAQ */
#faq {

}

.faq-column {
	padding: 0 5%;
}

.faq-column span {
	display: inline-block;
	font-size: 2em;
	color: #e86925;
}

.faq-column h3 {
	margin-left: 10px;
	display: inline-block;
	text-align: left;
	font-size: 1.4em;
	font-weight: 700;
	color: #333;
}

.faq-column p {
	text-align: left;
}

.faq-column p {
	margin-left: 7%;
}

.faq-column li {
	list-style: disc;
	display: list-item;
	text-align: left;
	margin-left: 10%
}

/* SPONSORS */
#sponsors {
	
}

.sponsor-list-area {
	margin: 0 1em;
}

.sponsor-list-area p {
	margin-top: 1em;
	font-size: 1.2em;
}

.sponsor-list-area img {
	-webkit-transition: 0.35s ease;
	-moz-transition: 0.35s ease;
	-o-transition: 0.35s ease;
	-ms-transition: 0.35s ease;
	transition: 0.35s ease;
}

.sponsor-list-area img:hover {
	transform: scale(1.0);
}

.sponsor-list-platinum {
	margin: 0 0 0 0;
}
.sponsor-list-platinum img {
	height: 256px;
	width: 256px;
}

.sponsor-list-gold {
	margin: 0 0 0 0;
}
.sponsor-list-gold img {
	height: 200px;
	width: 200px;
}
.sponsor-list-silver {
	margin: 0 0 0 0;
}
.sponsor-list-silver img {
	height: 150px;
	width: 150px;
}

.sponsor-box {

}

@-webkit-keyframes fadeLeft { 
	from { opacity:0; transform: translateX(-10px)} 
	to { opacity:1; transform: translateX(0)} 
}
@-moz-keyframes fadeLeft { 
	from { opacity:0; transform: translateX(-10px)} 
	to { opacity:1; transform: translateX(0)} 
}
@keyframes fadeLeft { 
	from { opacity:0; transform: translateX(-10px)} 
	to { opacity:1; transform: translateX(0)} 
}

.sponsor-box-animated {
	opacity: 1;
	-webkit-animation: fadeLeft 2s 1 cubic-bezier(0.77,0,.175,1);
	-moz-animation: fadeLeft 2s 1 cubic-bezier(0.77,0,.175,1);
	-o-animation: fadeLeft 2s 1 cubic-bezier(0.77,0,.175,1);
	animation: fadeLeft 2s 1 cubic-bezier(0.77,0,.175,1);
}

.sponsor-box.span3, .sponsor-box.span4 {
	text-align: center;
	margin-bottom: 1em;
}

.sponsor-box img {
	transform: scale(0.9);
}

.sponsor-box img:after {
	padding-top: 0px;
	display: block;
	content: "";
}

/* MPT */
#mpt-list {

}

.mpt-column {
	padding: 0px 20px 2em 20px;
	display: inline-block;
}

.mpt-column h1 {
	clear: both;
}

.name-list li {
	display: block;
	text-align: left;
}

.name-list li b {
	width: 100%;
	float: left;
	text-align: left;
}

.name-list li i {
	float: right;
	text-align: right;
}

/* MAP */
#google-map {
	width: 100%;
	height: 450px;
}

footer.container {
	padding-top: 0 !important;
}

.footer-quote-area {
	margin: auto;
	padding: 70px 0;
	background-color: #e86925;
	text-align: center;
	font-size: 1.1em;
	color: #fff;
}

.social-media {
	background-color: #222;
	margin: 0px;
	padding: 20px;

}

.social-media span {
	display: inline-block;
}

.copyright-note p {
	color: #aaa;
}

.social-media-buttons {
	float: right;
	font-size: 1.8em;
	text-align: center;
}

.social-media-buttons a {
	margin: 10px;
	color: #aaa;
	text-align: center;
}

.social-media-buttons a:hover {
	text-decoration: none;
	color: #e86925;
}

.google-form {
	width: 100%;
}

.google-form iframe {
	width: 100%;
}

/* Mobile friendly */

@media (min-width: 1200px) {
	.application-form .span10 {
		margin-left: 8.5470085% !important;
	}
	.collapse {
		display: block;
		visibility: visible;
	}
	.top-menu-collapse {
		display: none;
		visibility: hidden;
	}
	#top-menu-bar {
		display: inline-block;
		margin: 0 20px;
	}
	.span6 {
		margin-left: 10px;
		width: 48%;
	}
	.sponsor-box.span4:nth-child(3n+1) {
		margin-left: 0px;
	}
	
}

@media (min-width: 980px) and (max-width: 1199px) {
	.application-form .span10 {
		margin-left: 8.5470085% !important;
	}
	.collapse {
		display: block;
		visibility: visible;
	}
	.top-menu-collapse {
		display: none;
		visibility: hidden;
	}
	#top-menu-bar {
		display: inline-block;
		margin: 0 4%;
	}
	.span6 {
		margin-left: 2.564103%;
		width: 48.7179485%
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.application-form .span10 {
		margin-left: 8.5470085% !important;
	}
	#top-menu li {
		display: block;
		width: 100%;
		text-align: center;
	}
	#top-menu li a:hover {
		border-bottom: none;
		font-weight: 800;
	}
	.top-menu-collapse {
		display: inline-block;
		visibility: visible;
		float: right;
		margin: 2% 4%;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: auto;
		overflow: visible;
	}
	#top-menu-bar {
		width: 100%;
	}
	.span6 {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.application-form .span10 {
		padding: 0 8.5470085% !important;
	}
	#top-menu li {
		display: block;
		width: 100%;
		text-align: center;
	}
	#top-menu li a:hover {
		border-bottom: none;
		font-weight: 800;
	}
	.counter-box.span3 {
		margin-bottom: 30px;
	}
	.counter-box.span3:last-child {
		margin-bottom: 0px;
	}
	#main-header{
		width: 100%;
	}
	.top-menu-collapse {
		display: inline-block;
		visibility: visible;
		float: right;
		margin: 2% 4%;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: auto;
		overflow: visible;
	}
	#top-menu-bar {
		width: 100%;
	}
	.span6 {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0px;
	}
}

@media (max-width: 480px) {
	.application-form .span10 {
		padding: 0 8.5470085% !important;
	}
	#top-menu li {
		display: block;
		width: 100%;
		text-align: center;
	}
	#top-menu li a:hover {
		border-bottom: none;
		font-weight: 800;
	}
	#main-header{
		width: 100%;
	}
	.top-menu-collapse {
		display: inline-block;
		visibility: visible;
		float: right;
		margin: 15px 4%;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: auto;
		overflow: visible;
	}
	#top-menu-bar {
		width: 100%;
	}
	.span6 {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 0px;
	}
}

